@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-primary {
    @apply px-2 py-1 bg-slate-500
  }
  .btn-primary {
    @apply px-2 py-1 bg-indigo-500
  }
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#pdf-page {
  margin: 0;
  width: 210mm;
  height: 297mm;
}

@page {
  size: A4;
  margin: 0;
}

@media print {

  html,
  body {
    width: 210mm;
    height: 297mm;
  }

  /* ... the rest of the rules ... */
}